body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.content-item a {
    text-decoration: none;
    color: black;
    transition: font-weight 0.3s ease;
}

.content-item a:hover {
    font-weight: bold;
}

.centered-content, #content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content-section {
    max-width: 600px; 
    padding: 20px; 
    border: 1px solid #ccc; 
    background-color:
}

.section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
